<!DOCTYPE html>
<!-- saved from url=(0052)https://getbootstrap.com/docs/4.5/examples/checkout/ -->
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Jekyll v4.1.1">
  <title>MyCNF</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/checkout/">

  <!-- Bootstrap core CSS -->
  <link href="./bootstrap.min.css" rel="stylesheet">

  <!-- Favicons -->
  <link rel="apple-touch-icon" href="https://getbootstrap.com/docs/4.5/assets/img/favicons/apple-touch-icon.png"
    sizes="180x180">
  <link rel="icon" href="https://getbootstrap.com/docs/4.5/assets/img/favicons/favicon-32x32.png" sizes="32x32"
    type="image/png">
  <link rel="icon" href="https://getbootstrap.com/docs/4.5/assets/img/favicons/favicon-16x16.png" sizes="16x16"
    type="image/png">
  <link rel="manifest" href="https://getbootstrap.com/docs/4.5/assets/img/favicons/manifest.json">
  <link rel="mask-icon" href="https://getbootstrap.com/docs/4.5/assets/img/favicons/safari-pinned-tab.svg"
    color="#563d7c">
  <link rel="icon" href="https://getbootstrap.com/docs/4.5/assets/img/favicons/favicon.ico">
  <meta name="msapplication-config" content="/docs/4.5/assets/img/favicons/browserconfig.xml">
  <meta name="theme-color" content="#563d7c">


  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
  <!-- Custom styles for this template -->
  <link href="./form-validation.css" rel="stylesheet">
</head>

<body class="bg-light" data-new-gr-c-s-check-loaded="14.984.0" data-gr-ext-installed="">
  <div class="container">
    <div class="py-5 text-center">
      <h2>Error!</h2>
      <p class="lead">Something Wrong here,</p>
      <p class="lead">{{ .error }}</p>
    </div>

    

    <footer class="my-5 pt-5 text-muted text-center text-small">
      <p class="mb-1">© 2017-2020 SpicyChickenFLY</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="https://github.com/SpicyChickenFLY?tab=repositories">Github</a></li>
      </ul>
    </footer>
  </div>
  <script src="./jquery-3.5.1.slim.min.js"></script>
  <script>
    window.jQuery || document.write(
      '<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>'
    )
  </script>
  <script src="./bootstrap.bundle.min.js"></script>
  <!-- <script src="./vue.min.js"></script> -->
  <script src="./form-validation.js"></script>

  <script>
    $(document).ready(function(){
      alert($(".param").html())
    });
    </script>

</body>

</html>